<h1 class="m-5">Your initial scores</h1>
<small>Lorem ipsum dolor sit amet, consectetur adipiscing</small>
<div class="container-fluid">
    <div class="row">
        <div class="col-1 my-auto mr-2">
        </div>
        <div class="col-10">
            <mat-card>
                <mat-card-content>
                    <app-progress></app-progress>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" (click)="next()">Intereseted in Learning More?</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
