<h1 class="m-5">Tell us about your coverages</h1>
<small>Lorem ipsum dolor sit amet, consectetur adipiscing</small>
<div class="container-fluid">
    <div class="row">
        <div class="col-1 my-auto mr-2">
            <button mat-icon-button class="btn" (click)="prev()"><mat-icon>arrow_back</mat-icon></button>
        </div>
        <div class="col-10">
            <mat-card *ngIf="!isLoading;">
                <mat-card-content>
                    <form [formGroup]="form" (keyup.enter) = "next()">
                        <div class="w-100">
                            <mat-label>Health</mat-label>
                            <mat-radio-group formControlName="have_health_cover">
                                <mat-radio-button value="Yes">Yes</mat-radio-button>
                                <mat-radio-button value="No">No</mat-radio-button>
                                <mat-radio-button value="Don't know">Don't know</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="w-100">
                            <mat-label>Vision</mat-label>
                            <mat-radio-group formControlName="have_vision_cover">
                                <mat-radio-button value="Yes">Yes</mat-radio-button>
                                <mat-radio-button value="No">No</mat-radio-button>
                                <mat-radio-button value="Don't know">Don't know</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="w-100">
                            <mat-label>Dental</mat-label>
                            <mat-radio-group formControlName="have_dental_cover">
                                <mat-radio-button value="Yes">Yes</mat-radio-button>
                                <mat-radio-button value="No">No</mat-radio-button>
                                <mat-radio-button value="Don't know">Don't know</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="w-100">
                            <mat-label>Life</mat-label>
                            <mat-radio-group formControlName="have_life_cover">
                                <mat-radio-button value="Yes">Yes</mat-radio-button>
                                <mat-radio-button value="No">No</mat-radio-button>
                                <mat-radio-button value="Don't know">Don't know</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="w-100">
                            <mat-label>Long-Term Disability</mat-label>
                            <mat-radio-group formControlName="have_longtermdisability_cover">
                                <mat-radio-button value="Yes">Yes</mat-radio-button>
                                <mat-radio-button value="No">No</mat-radio-button>
                                <mat-radio-button value="Don't know">Don't know</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="w-100">
                            <mat-label>Short-Term Disability</mat-label>
                            <mat-radio-group formControlName="have_shorttermdisability_cover">
                                <mat-radio-button value="Yes">Yes</mat-radio-button>
                                <mat-radio-button value="No">No</mat-radio-button>
                                <mat-radio-button value="Don't know">Don't know</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="w-100">
                            <mat-label>Accident</mat-label>
                            <mat-radio-group formControlName="have_accident_cover">
                                <mat-radio-button value="Yes">Yes</mat-radio-button>
                                <mat-radio-button value="No">No</mat-radio-button>
                                <mat-radio-button value="Don't know">Don't know</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="w-100">
                            <mat-label>Critical Illness</mat-label>
                            <mat-radio-group formControlName="have_criticalillness_cover">
                                <mat-radio-button value="Yes">Yes</mat-radio-button>
                                <mat-radio-button value="No">No</mat-radio-button>
                                <mat-radio-button value="Don't know">Don't know</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="w-100">
                            <mat-label>Auto</mat-label>
                            <mat-radio-group formControlName="have_auto_cover">
                                <mat-radio-button value="Yes">Yes</mat-radio-button>
                                <mat-radio-button value="No">No</mat-radio-button>
                                <mat-radio-button value="Don't know">Don't know</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="w-100">
                            <mat-label>Homeowner</mat-label>
                            <mat-radio-group formControlName="have_homeowner_cover">
                                <mat-radio-button value="Yes">Yes</mat-radio-button>
                                <mat-radio-button value="No">No</mat-radio-button>
                                <mat-radio-button value="Don't know">Don't know</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="w-100">
                            <mat-label>Renters</mat-label>
                            <mat-radio-group formControlName="have_renters_cover">
                                <mat-radio-button value="Yes">Yes</mat-radio-button>
                                <mat-radio-button value="No">No</mat-radio-button>
                                <mat-radio-button value="Don't know">Don't know</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="w-100">
                            <mat-label>Pet</mat-label>
                            <mat-radio-group formControlName="have_pet_cover">
                                <mat-radio-button value="Yes">Yes</mat-radio-button>
                                <mat-radio-button value="No">No</mat-radio-button>
                                <mat-radio-button value="Don't know">Don't know</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </form>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" class="w-100" (click)="send()" [disabled]="form.invalid">Next</button>
                </mat-card-actions>
            </mat-card>
            <div class="d-flex justify-content-center align-items-center w-100" *ngIf="isLoading;">
                <mat-spinner></mat-spinner>
            </div>
        </div>
    </div>
</div>
